.about {
  padding: 0 24px;
  margin: 120px 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 125px;
}

.text {
  flex: 1;
  order: 1;
}

.imageWrap {
  position: relative;
  flex: 1;
  order: 2;
  height: 590px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.imageWrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(0,0,0,0.2) 0%,
    rgba(0,0,0,0) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block;
  position: relative !important;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
}

.line {
  display: block;
}

.highlight {
  color: #FBAF85;
}

.title .line:first-child {
  white-space: nowrap;
}

.description {
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}


/* Tablet */
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    gap: 48px;
  }

  .imageWrap {
    width: 100%;
    height: 300px;
  }

  .title {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
  }

  .title .line:first-child {
    white-space: normal;
  }

  .description {
    text-align: center;
    padding: 0 24px;
  }
}
@media (max-width: 375px) {
  .about {
    margin: 96px 0;
    padding: 0;
  }
@media (max-width: 375px) {
  .imageWrap {
    position: relative;  /* required for fill */
    width: 100%;        /* full width */
    height: 50vh;        /* adjust as needed for mobile */
    max-width: 100vw;
    overflow: hidden;
    border-radius: 0;
    margin: 0;
  }
  .imageWrap picture{
    width: 100%;
    height: 100%;
    display: block;
    /* object-fit: cover; */
    min-height: 300px;
  }

  .image {
    object-fit: cover;   /* fills parent */
  }
}

  .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
    padding: 0 24px;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
    padding: 0 24px;
  }

  .container {
    gap: 32px;
    padding: 0;
  }

  .image {
    position: relative !important;
  }
}   

