.banner {
  width: 100%;
  background: #191919;;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 38px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .banner {
    padding: 100px 0;
  }

  .banner h1 {
    font-size: 28px;
    line-height: 38px;
  }
}