.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #191919;
}

.navbarBorder {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  max-width: 1110px;
  height: 96px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar > * {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .menuButton {
    margin-right: auto;
  }

  .cartButton {
    margin-left: auto;
  }

  .desktopNav {
    display: none;
  }
}


/* Mobile Menu Button */
.menuButton {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

/* Desktop Navigation */
.desktopNav {
  display: flex;
  gap: 34px;
  margin-right: auto;
  margin-left: 197px;
}

.navLink {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #D87D4A;
}

/* Cart Button */
.cartButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cartButton:hover img {
  filter: brightness(0.8);
}

/* Mobile Menu */
/* mobile menu closed state (prepare offscreen) */
.mobileMenu {
  display: block;
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  background: white;
  padding: 32px 24px 40px;
  box-shadow: 0 52px 74px rgba(0,0,0,0.3);
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 20px;
}


/* when open */
.mobileMenuOpen {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* hide on desktop */
@media (min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}


/* Tablet Styles */
@media (max-width: 1110px) {
  .navbar {
    border-bottom-width: 0;
  }
  
  .navbarBorder {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .navbar {
    justify-content: flex-start;
    gap: 42px;
  }

  .cartButton {
    margin-left: auto;
  }
}

/* Mobile Styles */
@media (max-width: 375px) {
  .navbar {
    height: 90px;
    gap: 32px;
  }
}